!!! 5
%html
  %head
    %title Astria
    %script{ :src => "lib/head.js" }
    %script{ :src => "init.js" }
    %style{ :type => "text/css", :media => "screen" }
      :preserve
        body {
          overflow: hidden;
          background-color: #aa8866;
        }
  
  %body